* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family: sans-serif;
}
nav .navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav  .navbar .logo a{
    font-size: 40px;
    font-weight: 500;
    color: #4070f4;
}
nav .navbar .menu li{
    display: flex;
}
nav .navbar .menu li{
    margin: 0 8px;
    list-style: none;
}
.navbar .menu li{
    font-size: 18px;
    font-size: 500;
    color: #0E2431;
}
.navbar .media-icons a{
    font-size: 18px;
    margin: 0 6px;
    color: #4070f4;
}
@media(max-width: 750px) {
    nav .navbar >.menu{
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        max-width: 400px;
    }
}